<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/dash.css"/>
    <title>Tech Blog</title>
  </head>

  <body class="bg-light" "text-black">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <h1>Welcome!</h1>
            <a class="navbar-brand-fs2" href="/">Tech Blog</a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
             </button>
           <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/dash">Dashboard</a>
              </li>
              {{#if logged_in}}
              <li class="nav-item">
                <a class="nav-link" href="/#">LogOut</a>
              </li>
              {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/login">LogIn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">SignUp</a>
              </li>
              {{/if}}
            </ul>
           </div>
        </div>
      </nav>
    </header>
    <main class="container" style="margin-bottom: 15vh;">
        {{{body}}}
    </main>
    <footer class="bg-dark text-white py-3" style="position:fixed; bottom:0; width:100%">
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6 text-center">
                <h5>&copy; designed by Salome Mphago. 2023 All Rights Reserved and Stuff</h5>
              </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/delete_post.js"></script>
    <script type="text/javascript" src="/assets/js/edit_post.js"></script>
    <script type="text/javascript" src="/assets/js/login.js"></script>
    <script type="text/javascript" src="/assets/js/logout.js"></script>
    <script type="text/javascript" src="/assets/js/new_comment.js"></script>
    <script type="text/javascript" src="/assets/js/new_post.js"></script>
    <script type="text/javascript" src="/assets/js/signup.js"></script>
  </body>
</html>