<main class="container">
    <h2>LogIn</h2>
    <form class="login-form">
        <section>
            <lable for="username" class="form-label">Username</lable>
            <input class="form-control" id="username-login" type="text" placeholder="Username"/>
        </section>
        
        <section>
            <label for="password" class="form-label">Password</label>
            <input class="form-control" id="password-login" type="password" placeholder="Password"/>
        </section>
        <button class="button-p" type="submit">LogIn</button>
    </form>
</main>