<div class="container">
    <h3>Blog Contribution</h3>
    <form class="new-p-form">
        <section>
            <label for="title-new-p" class="form-label">Title</label>
            <input class="form-control" id="title-new-p" type="text" placeholder="Title of your choice...make it good"/>
        </section>
        <section>
            <label for="content-new-p" class="form-lable">Content</label>
            <textarea class="form-control" id="content-new-p" rows="6" placeholder="Content goes here"></textarea>
        </section>
        <button class="button-p" type="submit">post Post</button>
    </form>
</div>