<main class="container">
    <h2>Sign Up</h2>
    <form class="signup-form" id="official-signup-form">
        <section>
            <label for="username" class="form-label">Username:</label>
            <input class="form-control" id="username" type="text" placeholder="Username goes here"/>
        </section>

        <section>
            <label for="email" class="form-label">Email:</label>
            <input class="form-control" id="email" type="email" placeholder="Email goes here"/>
        </section>

        <section>
            <label for="password" class="form-label">Password:</label>
            <input class="form-control" id="password" type="password" placeholder="Password MUST be over six (6) characters long"/>
        </section>
        <button class="button-p" type="submit">SignUp</button>
    </form>
</main>