body {
    background-image: url('/images/techBlogBG.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-p {
    box-shadow: aliceblue;
    transition: background-color 0.4s;
}

.container-p :hover {
    background-color: chocolate;
    border-radius: 0.4rem;
    border-left: 2rem solid orangered;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* tablets in landscape */
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  /* tablets in portrait */
}

@media screen and (max-width: 767px) {
  /* smartphones */
}

@media screen and (min-width: 1200px) {
  /* large screens */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-resolution: 192dpi) {
  /* high-res displays */
}